langchain
openai
pydantic
langchain-community
pymysql
langchain-google-genai
dotenv
ipykernel
chromadb
langchain_chroma



# pip install -U langchain langchain-core langchain-chroma chromadb langchain-google-genai